.service-calc-form {
	padding-top: 20px;
	padding-bottom: 20px;
}

#cont {
	position:absolute;
	top: 155px;
	left: 350px;
}

#service-calc-header, #afford-calc-header {
	padding-top: 15px;
	padding-bottom: 15px;
}

#result-div {
    padding-top: 20px;
}

#calc-div {
	padding-top: 20px;
}
