* {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	padding: 20px;
}

.nav-list {
	list-style-type: none; /* Remove bullets */
}

.nav-list li {
	padding: 10px 10px;
	display:inline;
}


/* index */

.thick-button {
	border: 0.065mm;
	color: white;
	padding: 10px;
}

a.unstyled {
	color: inherit;
	text-decoration: none;
}

.thick-button.blue {
	background-image: -webkit-linear-gradient(top,#5ca2e6,#1373b4 50%);
}

.thick-button.orange {
	background-image: -webkit-linear-gradient(top,#ff9e41,#e87700 50%);
}

#connection-div {
	display:inline;
	padding: 20px;
}

/* service box widget */

.service-box-list {
	list-style-type: none; /* Remove bullets */
	margin: 0px;
	padding: 10px;
}

.service-box {
	border:1px solid black;
	width: 100px;
}

/* home box widget */
.home-box {
	border:1px solid black;
	width: 100px;
}

.horizontal-list {
	list-style-type: none; /* Remove bullets */
}

.horizontal-list li {
	display:inline-block;
}


/*Navbar*/

.navigation {
	background-color: #dcdcdc;
	overflow: hidden;
}

.navigation a {
	float: left;
	color: #000000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.navigation a:hover:not(.active) {
	background-color: #808080;
	color: rgb(0, 0, 0);
}

.nav-list li a.active {
	background-color: #066e73;
	color: rgb(255, 255, 255);
}